{% extends 'base.html' %}
{% load static %}
{% block title %}Forget Password{% endblock title %}

{% block main %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3> Reset Password</h3>
                <hr>
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    
                    {% for fm in  form  %}
                        {{fm.label_tag}}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>

                    {% endfor %}
                    <input type="submit" class="btn btn-primary mt-4" value="Submit">
                    <br>
                    
                    {% if form.non_field_errors %}
                        
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{error}}</p>
                            
                        {% endfor %}
                            
                        
                    {% endif %}
                        
                        
                </form>

            </div>
        </div>
    </div>    





{% endblock main %}
    


    