{% extends 'base.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block main %}
    <div class="container my-5">
        <div class="row">
           
            <h3>Welcome {{request.user.username|capfirst}}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href="#" class="btn btn-primary"> Change Password</a></li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <form action="" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    
                    {% for fm in form  %}
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                    
                    {% if form.non_field_errors %}
                        
                        {% for error in  form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{error}}</p>
                            
                        {% endfor %}
                            
                        
                    {% endif %}
                        
                        
                        

                </form>

            </div>



                
        </div>
    </div>

    
{% endblock main %}
    
    

    