{% extends 'base.html' %}
{% load  static %}

{% block title %}Done Password Change{% endblock title %}


{% block main %}
    <div class="container my-5">
        <div class="row">
            <h3>Welcom {{request.user.username|capfirst}}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                        <a href="" class="btn btn-primary"> Done Password Change </a>

                    </li>

                </ul>

            </div>
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>Password Changed Successfully !!! </h3>
                <div>
                    <br><br><br><br>
                    <iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>


    
{% endblock main %}



    
    

    